.about {
  position: absolute;
  display: flex;
  flex-direction: column;
  padding: 22px;
  width: 70%;
  margin: 0;
}

span {
  font-weight: 800;
}

p {
  margin-bottom: 2vh;
}

@media (max-width: 768px) {
  .about {
    width: 90%;
    position: static;
    padding: 22px;
    margin: auto;
  }
}
